/* ============ Fonts ============ */
$font-opensans: 'Open Sans', sans-serif;
$font-cera: 'Cera', sans-serif;

/* ============ Colors ============ */
$green: #0d9e58;
$green-light: #12ce73;
$black-light: #222222;
$grey-lighter: #e3e3e3;
$grey-light: #999999;
$grey: #ebebeb;
$grey-slight-dark: #cccccc;
$grey-dark: #6a6a6a;
$grey-darker: #666666;
