.footer {
  width: 100%;
  height: 70px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-style: italic;
  box-shadow: 0 0 10px #ccc;
  z-index: 1;
  position: relative;
}
