.courses {
  &__header {
    background: url("/static/course-list-background.png") top no-repeat fixed;
    background-size: cover;
    min-height: 400px;
    position: relative;
    display: flex;
    align-items: center;

    &-title {
      font-family: $font-cera;
      font-size: 62px;
      font-weight: 400;
      color: white;
    }

    &-desc {
      font-family: $font-cera;
      font-size: 20px;
      color: #ffffff;
      font-weight: 100;
      line-height: 1.4;
    }

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__selling-point {
    width: 48%;
    position: relative;
    font-family: $font-cera;
    font-size: 16px;
    color: #666666;
    line-height: 1.4;

    &:last-child {
      width: 46%;
    }

    &::before {
      content: '';
      width: 18px;
      height: 14px;
      display: inline-block;
      background-image: url("/static/icon-checked.svg");
      position: absolute;
      left: -25px;
      top: 3px;
    }

    &-container {
      display: flex;
      justify-content: space-between;
      max-width: 850px;
      margin: 0 auto;
      padding: 40px 60px;
      position: absolute;
      bottom: -30px;
      left: 0;
      right: 0;
      background-color: white;
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
      animation: slide-top .6s forwards;
      transform: translateY(50px);
      opacity: 0;
    }
  }

  &__body {
    background-color: #fbfafb;
    padding: 70px 0 50px;

    &-title {
      font-weight: 400;
      margin-bottom: 20px;
      font-size: 33px;
      color: #222222;
    }
  }

  &__course {
    width: 31%;
    border: solid 1px #e3e3e3;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      box-shadow: 0 5px 7px 0 #cccccc;
    }

    &-container {
      display: flex;
      justify-content: space-between;
    }

    &-background {
      height: 150px;
      background: center no-repeat;
      background-size: cover;
    }

    &-data {
      position: relative;
      padding: 30px 90px 50px 20px;
    }

    &-marked {
      width: 50px;
      height: 50px;
      color: white;
      position: absolute;
      left: 20px;
      top: -30px;
      border-radius: 50%;
      background-color: #EF8100;
      font-size: 11px;
      line-height: 1.3;
      text-align: center;
      display: flex;
      align-items: center;

      &--yellow {
        color: #222;
        background-color: #f7ca36;
        font-size: 10px;
      }
    }

    &-lecturer-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      top: -30px;
      right: 30px;
    }

    &-title {
      font-size: 16px;
      font-weight: 600;
      color: #222222;
    }

    &-price {
      font-size: 19px;
      font-weight: 600;
      color: #0d9e58;
      margin: 10px 0 3px;
    }

    &-lecturer-name {
      font-size: 12px;
      color: #666666;
      margin-bottom: 10px;
    }

    &-student::before,
    &-review::before {
      content: '';
      width: 11px;
      height: 11px;
      display: inline-block;
      margin-right: 8px;
    }

    &-student {
      font-size: 13px;
      color: #999999;

      &::before {
        background-image: url("/static/icon-person.svg");
      }
    }

    &-review {
      font-size: 13px;
      color: #999999;

      &::before {
        background-image: url("/static/icon-fame.svg");
      }
    }

    &-button {
      margin-top: 10px;
      position: absolute;
      right: 30px;
    }
  }

  &__background-instructor  {
    padding-top: 20px;

    img {
      max-width: 100%;
      height: 100%;
    }
  }

  @keyframes slide-top {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
